.main-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5%;
  min-height: 100vh;  /* 최소 높이 100vh, 내용이 많으면 자동 확장 */
  flex-wrap: wrap; /* 내용이 많으면 줄 바꿈 */
}

.kms-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: left;
  line-height: 1.6;
  white-space: normal;
  word-break: keep-all;
}

.kms-image {
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
}

.kms-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* 네비게이션 버튼 스타일 */
.nav-buttons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-buttons button {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-buttons .active {
  background-color: blue;
  color: white;
}
.about-me {
  max-width: 800px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  line-height: 1.6; /* 줄 간격 조정 */
  text-align: left; /* 좌측 정렬 */
  white-space: normal; /* 자동 줄바꿈 허용 */
  word-break: keep-all; /* 단어가 부자연스럽게 끊기지 않도록 설정 */
}