.main-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  /* 스크롤바 숨기기 (크로스 브라우징) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

/* 네비게이션 버튼 스타일 */
.nav-buttons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-buttons button {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-buttons .active {
  background-color: gray;
  color: white;
}
.about-me {
  max-width: 600px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  line-height: 1.6; /* 줄 간격 조정 */
  text-align: left; /* 좌측 정렬 */
  white-space: normal; /* 자동 줄바꿈 허용 */
  word-break: keep-all; /* 단어가 부자연스럽게 끊기지 않도록 설정 */
}